{% extends 'base.html' %}
{% block content %}
    <h1 class='text-center'>Members</h1>
    <div class="row">
        {% for profile in profiles %}
            {% if profile.profile_image %}
                <div class="col-lg-4">
                    <div class="card mb-3">
                        <img class="w3-round" src="{{ profile.profile_image.url }}" alt=""
                             style="object-fit:contain;">
                        <div class="card-header">Member: {{ profile.user }}</div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}


