{% extends 'base.html' %}
{% block content %}
    <body>
    <h1>Bosozoku</h1>
    <h3>Motorcycle club</h3>

    <p>Bosozoku allows riders from across the world to connect</p>

    <p>Once you become a member you would be able to organize events/trips.</p>
    <p>Other riders will be able to reach out and join you on your trip.</p>
    <p>You'll also be able to see all the events that are currently organized and join them.</p>
    <p>Riding is always more fun together, so become a member and join the pack.</p>

    </body>

{% endblock %}
