{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosozoku</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        div.first {
            width: 50%;
            float: left;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://en.wikipedia.org/wiki/B%C5%8Ds%C5%8Dzoku">Bosozoku</a>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %}">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile list' %}">Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list events' %}">Events</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create event' %}">Add Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile details' %}">Profile Details</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
            </ul>
            {% if not request.user.is_authenticated %}
                <form action="{% url 'log in user' %}">
                    <input type="submit" value="Log in"/>
                </form>
                <form action="{% url 'register user' %}">
                    <input type="submit" value="Register"/>
                </form>
            {% else %}
                <form action="{% url 'profile details' %}">
                    <input type="submit" value="{{ request.user }}"/>
                </form>
                <form action="{% url 'log out user' %}">
                    <input type="submit" value="Log out"/>
                </form>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
