{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosozoku</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <style>
        body {
            background-image: url('https://jooinn.com/images/mountain-road-7.jpg');
        }
    </style>
    <style>
        .center {
            height: 200px;
            position: relative;
        }

        .center p {
            margin: 0;
            position: absolute;
            top: 400%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://en.wikipedia.org/wiki/B%C5%8Ds%C5%8Dzoku">BosozokuClub</a>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %}">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile list' %}">Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list events' %}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile details' %}">Profile Details</a>
                </li>
                {% endif %}
            </ul>
            {% if not request.user.is_authenticated %}
                <form action="{% url 'log in user' %}">
                    <input type="submit" value="Log in"/>
                </form>
                <form action="{% url 'register user' %}">
                    <input type="submit" value="Register"/>
                </form>
            {% else %}
                {#                <li class="nav-item">#}
                {#                    <a href="{% url 'profile details' %}" class="card-link">{{request.user}}</a>#}
                {#                </li>#}
                <form action="{% url 'profile details' %}">
                    <input type="submit" value="{{request.user}}"/>
                </form>
                <form action="{% url 'log out user' %}">
                    <input type="submit" value="Log out"/>
                </form>
            {% endif %}
        </div>
    </div>
</nav>
<div class="center">
    <p>“Life should not be a journey to the grave with the intention of arriving safely in a pretty and well preserved
        body, but rather to skid in broadside in a cloud of smoke, thoroughly used up, totally worn out, and loudly
        proclaiming "Wow! What a Ride!”
        ― Hunter S. Thompson, The Proud Highway: Saga of a Desperate Southern Gentleman, 1955-1967</p>
</div>

</body>
</html>
